p(class="letraChida h4 pt-5") 
span(class="letraChida h6 text-secondary")
  //-| El administrador de exámenes le permite agregar, buscar, eliminar y actualizar un examen, sus determinantes y muestras.
div(class="position-absolute top-50 start-50 translate-middle d-flex invisible")
div(class="d-flex flex-wrap justify-content-center align-items-center w-100")
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center selected shadow-sm" style="width: 250px; height: 250px; border-radius: 100%;")
    a(class="w-100 h-100 enlace-usuario btnExams d-flex flex-column justify-content-center align-items-center" href="" id="exam")
      i(class="fa-solid fa-plus enlace px-1 text-primary" style="font-size:100px")
    span(class="text-dark h4 mt-2") Examenes
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center selected shadow-sm" style="width: 250px; height: 250px; border-radius: 100%;")
    a(class="w-100 h-100 enlace-usuario btnExams d-flex flex-column justify-content-center align-items-center" href="" id="sample")
      i(class="fa-solid fa-plus enlace px-1 text-primary" style="font-size:100px")
    span(class="text-dark h4 mt-2") Muestras
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center selected shadow-sm" style="width: 250px; height: 250px; border-radius: 100%;")
    a(class="w-100 h-100 enlace-usuario btnExams d-flex flex-column justify-content-center align-items-center" href="" id="determinant" style="border-radius: 100%;") 
      i(class="fa-solid fa-plus enlace px-1 text-primary" style="font-size:100px")
    span(class="text-dark h4 mt-2") Determinaciones
