p(class="letraChida h4 pt-5") Gestor de pacientes
span(class="letraChida h6 text-secondary") 
//-El gestor de pacientes permite agregar, buscar, eliminar y actualizar pacientes.
div(class="position-absolute top-0 end-0 p-5 h-100 w-100 d-flex align-items-center justify-content-center letraChida")
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center selected shadow-sm rounded-circle" style="width: 250px; height: 250px;")
    a(class="d-flex flex-column justify-content-center align-items-center w-100 h-100 text-decoration-none" href="/main/patient/add" target="_blank")
      i(class="fa-solid fa-user-plus" style="font-size:80px; color: #007bff;")
    span(class="text-dark h4 mt-2") Agregar un nuevo paciente
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center selected shadow-sm rounded-circle" style="width: 250px; height: 250px;")
    a(class="d-flex flex-column justify-content-center align-items-center w-100 h-100 enlace-usuario text-decoration-none" href="" id="search")
      i(class="fa-solid fa-magnifying-glass" style="font-size:80px; color: #007bff;") 
    span(class="text-dark h4 mt-2") Buscar pacientes
