.text-center
    p(class="letraChida h4 pt-5") Add #{exam.name} exam!
    span(class="letraChida h6 text-success") The exam has been successfully registered.
div(class="d-flex justify-content-center align-items-center w-100 h-100")
    i(class="fa-solid fa-circle-check" style="color:green") 
input(type="hidden" value=exam.id id="idExam") 