block content 
  div(class="position-fixed top-0 w-100 p-2 letraChida d-flex justify-content-star card rounded-0 shadow-sm" style="z-index: 2; display: none;" id="SignOff" )
     //-div(class="position relative w-100 h5 text-end")
            //-i(class="fa-solid fa-power-off enlaceMenu px-1") 
  .position-fixed.top-0.end-0.w-10.h-10.rounded.shadow-sm.bg-white.d-none(style="z-index:1 display: none" id='NavSignOff')
    ul(class="sinPunto letraChida h6 d-flex flex-column text-secondary px-3")
             li(class="mx-3")
             a(class="enlace2" href="") a
             li(class="mx-3")
             a(class="enlace2" href="") a
             li(class="mx-3")
             a(class="enlaceOff pt-4" href="/login" id="btnClosed") Closed

