extends layout 
block content 
  div(class="position-fixed w-100 p-2 letraChida d-flex justify-content-end" style="z-index:")
     div(class="position relative w-100 h2")
       a(href="")
            i(class="fas fa-syringe enlace px-1")
     div(class="px-3 h6")
         ul(class="sinPunto d-flex flex-row text-secondary")
             li(class="mx-3")
             a(class="enlace" href="") Home
             li(class="mx-3")
             a(class="enlace" href="") Service
             li(class="mx-3")
             a(class="enlace" href="") Login
             li(class="mx-3")
             a(class="enlace" href="") Contact
             li(class="mx-3")
             a(class="enlace" href="")
                i(class="fa-solid fa-magnifying-glass")
