p(class="letraChida h4 pt-5") Delete Patient
pan(class="letraChida h6 text-secondary") The patient has been successfully deleted.
div(class="d-flex justify-content-center align-items-center w-100 h-100")
    i(class="fa-solid fa-person-circle-xmark logoGiganteOk")
