p(class="letraChida h4 pt-5") Actualizacion del paciente
pan(class="letraChida h6 text-secondary") el paciente fue actualizado correctamente
div(class="d-flex justify-content-center align-items-center w-100 h-100")
    //-i(class="fa-solid fa-person-circle-check logoGiganteOk")