table(class="table  table-hover h6 mt-3 rounded text-center")
                        thead(class="")
                            tr(class="")
                                th(scope="col") ID
                                th(scope="col") Type
                                th(scope="col") Detail
                                th(scope="col") Deliver 
                        tbody
                            
                                    tr(class= '')
                                        th(scope="row")  
                                        td 
                                        td 
                                        td
                                            div(class="w-100 text-center")
                                                a(href="" id='' class="btnDeliverSample")
                                                    i(class="fa-solid fa-plus px-1 text-success agrandar")